.user_detail {width:7.5rem;position: relative;margin: auto;}
.user_photo {width:7.5rem;position: relative;margin: auto;text-align: center;color: #333;}
.user_imgs {width:2.28rem;height:2.28rem;border-radius: 50%;position: relative;margin: .26rem auto 0;}
.user_imgs img {width:2.28rem;height:2.28rem;border-radius: 50%;}
.user_name {font-size: .32rem;margin-top: .11rem;}
.user_rank {font-size: .24rem;}
.user_rank div {display: inline-block;}
.user_rank i {vertical-align: top;margin: 0 .05rem;}
.user_hr {width:1.88rem;border-top: 1px solid #999;margin:.1rem auto .06rem;}
.user_money span {display: inline-block;vertical-align: top;color: #f08512;font-size: .28rem;margin: 0 .05rem;}
.user_money span:first-child {width:.36rem;height:.36rem;border-radius: 50%;border: 1px solid #f08512;text-align: center;line-height: .36rem;}
.user_information {position: relative;width:7.5rem;color:#333;font-size:.24rem;background: #fff;margin:.1rem auto;box-shadow:0 0 .16rem rgba(0,0,0,.3);}
.user_information ul {padding-bottom: .2rem;}
.user_information li {width:7rem;position: relative;margin: auto;}
.user_information_num {width:7rem;height:.61rem;line-height: .61rem;border-bottom: 1px solid #999;}
.user_information_num p {float:left;width:3.5rem;text-align: center;}
.user_information_num span {margin: 0 .05rem;}
.user_information_num i {font-size: .3rem;vertical-align: top;}
.user_information_address {width:7rem;height:.61rem;line-height: .61rem;border-bottom: 1px solid #999;white-space:nowrap;  text-overflow:ellipsis;  -o-text-overflow:ellipsis;  overflow: hidden;}
.user_information_address i {font-size: .3rem;}
.user_information_tuijian {width:7rem;border-bottom: 1px solid #999;line-height: .6rem;position: relative;}
.user_information_tuijian span {display: inline-block;vertical-align: top;}
.user_information_tuijian span:first-child {width:1.2rem;}
.user_information_tuijian .tuijian_text {line-height:.4rem;width:5.1rem;text-overflow:ellipsis;  -o-text-overflow:ellipsis;overflow: hidden;text-align: justify;}
.user_information_tuijian .on {white-space:nowrap;line-height: .61rem;}
.user_information_tuijian dl {display: inline-block;vertical-align: top;}
.user_information_tuijian a {position: absolute;bottom:0;right:0;color: #aaa;font-size: .22rem;}
.user_certification {width:7.5rem;background: #fff;position: relative;box-shadow:0 0 .16rem rgba(0,0,0,.3);height:.88rem;margin-top: .22rem;overflow: hidden;}
.user_certification ul {width:8rem;position: relative;overflow: hidden;}
.user_certification li {float:left;font-size: .24rem;color: #333;margin: 0 .15rem;}
.certification_left , .certification_right {float:left;text-align: center;}
.certification_left {line-height: .88rem;margin-right: .1rem;}
.certification_left img {vertical-align: middle;}
.certification_right p:first-child {margin-top: .13rem;}
.user_certification>div {width:7rem;margin: auto;position: relative;overflow: hidden;}
.user_show {margin-top: .22rem;}
.user_show_sort {width:7.5rem;background: #fff;height:.76rem;line-height: .66rem;box-shadow:0 0 .16rem rgba(0,0,0,.3);overflow: hidden;position: relative;}
.user_show_sort ul {position: relative;overflow: hidden;width:8rem;}
.user_show_sort li {float:left;height:.56rem;border-right: 1px solid #ccc;width:2.5rem;text-align: center;color: #999;font-size: .28rem;margin-top: .1rem;padding-bottom: .07rem;}
.user_show_sort li:last-child {border-right: none}
.user_show_sort .user_active {color: #f08512;border-bottom: .04rem solid #f08512;}
.user_show_detail {display: none;width:7.5rem;margin-top: .21rem;}
 #side1 li {width:7.5rem;background: #fff;box-shadow:0 0 .16rem rgba(0,0,0,.3);padding: .2rem 0;margin-bottom: .2rem;}
.show_detail {width:6.45rem;margin-left: .38rem;color: #333;position: relative;}
.show_detail_01 span {border-bottom:.05rem solid #f08512;font-size: .24rem;}
.show_detail_02 {margin-top: .15rem;font-size: .22rem;text-align: left;}
.show_detail_text {margin-top: .1rem;position: relative;}
.show_detail_text p { position: relative;  line-height: .28rem;  height: .8rem;  overflow: hidden;  text-align: justify;  font-size: .22rem;  }
.show_detail_text p::after {  content:"...";  font-weight:bold;  position:absolute;  bottom:0;  right:0;  padding:0 .2rem 1px .08rem;  background:url('../images/icon_14.png') repeat-y;  }
.show_detail_text p.change::after {  content:" ";}
.show_detail_04 {color: #999;position: absolute;bottom:0;right:-.5rem;}
.product_time {float:right;}
.show_detail_hr {width:6.45rem;border-bottom: 1px solid #666;margin: .1rem 0;}
.show_product {width:7.1rem;position: relative;margin: auto;overflow: hidden;}
.show_product ul {width:8rem;position: relative;overflow: hidden;}
.show_product li {width:3.5rem;height:4.48rem;background: #fff;float:left;margin-right: .1rem;margin-bottom: .3rem;}
.show_product_case {width:3.5rem;height:4.48rem;position: relative;}
.show_product_img , .show_product_img img {width:3.5rem;height:4rem;}
.show_product_img {box-shadow: 0 0 .1rem rgba(0,0,0,.5);}
.show_product_sc {width:3.5rem;height:.48rem;line-height: .48rem;font-size: .24rem;color: #666;}
.show_product_sc p {float:left;width:1.75rem;text-align: center;}
.show_product_sc span {margin: 0 .05rem;}
.show_product_sc i {font-size: .3rem;}
.dropload-down {text-align: center;font-size: .3rem;}
.user_appraisal_text>li {width:7rem;position: relative;margin:0 auto .25rem;border-bottom: 1px solid #999;padding-bottom: .3rem;}
.user_appraisal {position: relative;}
.user_appraisal_img , .user_appraisal_detail {display: inline-block;vertical-align: top;}
.user_appraisal_img {width:1.12rem;height:1.12rem;}
.user_appraisal_img img {width:1.12rem;height:1.12rem;border-radius: 10%;}
.user_appraisal_detail {width:4.8rem;margin-left: .3rem;}
.user_appraisal_detail_01 {font-size: .24rem;}
.user_appraisal_detail_01 img {width:.28rem;height:.26rem;}
.user_appraisal_detail_02 {font-size: .2rem;line-height: .26rem;height:.75rem;position: relative;overflow: hidden;text-align: justify;}
.user_appraisal_detail_02::after {  content:"...";  font-weight:bold;  position:absolute;  bottom:0;  right:0;  padding:0 .2rem 1px .08rem;  background:url('../images/icon_16.png') repeat-y;  }
.user_appraisal_detail_02.change::after {  content:" ";}
.user_appraisal_detail_03 {position: absolute;bottom:0;right:.2rem;color: #aaa;}
.user_change {position: fixed;width:7.5rem;margin: auto;left:50%;transform: translateX(-50%);bottom:0;}
.user_change_bottom {width:7.5rem;position: relative;height:.96rem;line-height: .96rem;z-index: 101;}
.user_change_bottom p {float:left;text-align: center;}
.user_change_bottom p:first-child {width:.96rem;height:.96rem;background: #eb6253;}
.user_change_bottom p:first-child i {font-size: .5rem;color: #fff;}
.user_change_bottom p:first-child i.uon {color: #f08512;}
.user_change_bottom p:last-child {width:6.54rem;background: #f08512;font-size: .34rem;color: #fff;height:.96rem;}
.select_service {position: absolute;bottom:0;background: #fff;z-index: 102;width:7.5rem;box-shadow: 0 0 .1rem rgba(0,0,0,.5); display: none;}
.select_service ul {position: relative;width:7.1rem;margin: auto;}
.service_change {width:7.5rem;height:.96rem;text-align: center;line-height: .96rem;font-size: .34rem;margin-top: .24rem;}
.service_change input[type='submit'] {background: #f08512;outline: none;border: transparent;width:7.5rem;height:.96rem;font-size:.34rem;color: #fff;}
.select_service li {border-bottom: 1px solid #ccc;}
.select_service_01 {height:.57rem;line-height: .57rem;font-size: .32rem;padding-left: .2rem;position: relative;}
.select_service_01 span {position: absolute;top:50%;right:.2rem;margin-top: -.17rem;}
.select_service_01 img {width:.34rem;height:.34rem;}
.select_service_02 a {display: block;width:5rem;height:.8rem;border: 2px solid #aaa;text-align: center;line-height: .8rem;font-size: .28rem;font-weight: 900;border-radius: .4rem;margin: 0 auto .25rem;position: relative;}
.select_service_02 u {font-style: normal;position: absolute;top:0;right:0;width:.7rem;height:.7rem;}
.select_service_02 .select_service_active {border: 2px solid #f08512;color: #f08512;}
.select_service_02 {padding: .35rem 0;}
.sum {position: relative;height:.8rem;line-height: .8rem;font-size: .28rem;}
.count {float:right;}
.count i {font-size: .3rem;}
.count span {display: inline-block;vertical-align: middle;height:.5rem;background: #e2e2e2;color: #666;line-height: .5rem;text-align: center;}
#jian , #jia {width:.45rem;}
#nums {width:.75rem;}
#nums input {width:100%;text-align: center;background: transparent;border: transparent;outline: none;font-size: .2rem;}


















@media screen and (max-width: 321px) {
    .user_certification li {margin: 0 .05rem;}
    .show_detail_text p {  line-height: .4rem;  }
    .show_detail_text p::after {padding:0 .3rem 1px .08rem;}
    .user_appraisal_detail_02 {  line-height: .4rem;  }
    .user_appraisal_detail_02::after {padding:0 .3rem 1px .08rem;}
}

